examples/Iono Pi Max Example.json
[
    {
        "id": "7af51950b76c72ec",
        "type": "tab",
        "label": "Iono Pi Max Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5cc8235a04bed7f7",
        "type": "inject",
        "z": "7af51950b76c72ec",
        "name": "Write 'F' (flip) every 5 seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "F",
        "payloadType": "str",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "744cabb43ce34240"
            ]
        ]
    },
    {
        "id": "6c1a1afd62ec6b68",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "ddf4670cb0ccb949",
        "type": "inject",
        "z": "7af51950b76c72ec",
        "name": "Write '1' on start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "4f869e61e0466013"
            ]
        ]
    },
    {
        "id": "0a8fef1b67a405df",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "46181ea6d97d1d68",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 500,
        "wires": []
    },
    {
        "id": "89ddbc7564b26b7f",
        "type": "inject",
        "z": "7af51950b76c72ec",
        "name": "Trigger read every second",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "d6cd0c1d814bf7da"
            ]
        ]
    },
    {
        "id": "7947f09db64f18e9",
        "type": "inject",
        "z": "7af51950b76c72ec",
        "name": "Trigger read on start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "3197d8daf8959b28"
            ]
        ]
    },
    {
        "id": "20d95bee2089eb55",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "1820fb727be96baa",
        "type": "comment",
        "z": "7af51950b76c72ec",
        "name": "Enable watchdog on start",
        "info": "",
        "x": 130,
        "y": 120,
        "wires": []
    },
    {
        "id": "85302740f8cb989d",
        "type": "comment",
        "z": "7af51950b76c72ec",
        "name": "Send heartbeat to watchdog. If this stops running, the watchdog timeout will expire",
        "info": "",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "4fc49218dd732e53",
        "type": "comment",
        "z": "7af51950b76c72ec",
        "name": "When the watchdog timeout expires, Iono Pi Max will start the power-cycle sequence",
        "info": "",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "b958c5026cbc16bf",
        "type": "switch",
        "z": "7af51950b76c72ec",
        "name": "if equals 1 (expired)",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "a15edfc4c68ab4ff"
            ]
        ]
    },
    {
        "id": "a15edfc4c68ab4ff",
        "type": "change",
        "z": "7af51950b76c72ec",
        "name": "Send '100' (100ms beep)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 580,
        "wires": [
            [
                "11971432bded9c40"
            ]
        ]
    },
    {
        "id": "b818ed4698f44dab",
        "type": "comment",
        "z": "7af51950b76c72ec",
        "name": "Break this link and deploy to see the effect",
        "info": "",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "3197d8daf8959b28",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "r:mcu/fw_version",
        "outputs": 1,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "20d95bee2089eb55"
            ]
        ]
    },
    {
        "id": "4f869e61e0466013",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "rw:watchdog/enabled",
        "outputs": 1,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "0a8fef1b67a405df"
            ]
        ]
    },
    {
        "id": "744cabb43ce34240",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "rw:watchdog/heartbeat",
        "outputs": 1,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "6c1a1afd62ec6b68"
            ]
        ]
    },
    {
        "id": "d6cd0c1d814bf7da",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "r:watchdog/expired",
        "outputs": 1,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "46181ea6d97d1d68",
                "b958c5026cbc16bf"
            ]
        ]
    },
    {
        "id": "11971432bded9c40",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "w:buzzer/beep",
        "outputs": 0,
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8ea601fb5091aa4",
        "type": "inject",
        "z": "7af51950b76c72ec",
        "name": "Trigger read every 300ms",
        "props": [],
        "repeat": "0.3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "0423c1037f6027ab",
                "fa6dbf070829b249",
                "421ecd474909916c"
            ]
        ]
    },
    {
        "id": "3c505a5571a24370",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 700,
        "wires": []
    },
    {
        "id": "bf74533a34f09d96",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 760,
        "wires": []
    },
    {
        "id": "83835746129a2826",
        "type": "debug",
        "z": "7af51950b76c72ec",
        "name": "Show value",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 790,
        "y": 940,
        "wires": []
    },
    {
        "id": "d056ec59a7418028",
        "type": "rbe",
        "z": "7af51950b76c72ec",
        "name": "",
        "func": "deadbandEq",
        "gap": "5",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 880,
        "wires": [
            [
                "8c51b13d132a4aef"
            ]
        ]
    },
    {
        "id": "8bce2442c951bbde",
        "type": "comment",
        "z": "7af51950b76c72ec",
        "name": "Close O1 for 1sec every 5 times DI1 goes high",
        "info": "",
        "x": 550,
        "y": 840,
        "wires": []
    },
    {
        "id": "0423c1037f6027ab",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "r:analog_in/av1",
        "outputs": 1,
        "x": 520,
        "y": 700,
        "wires": [
            [
                "3c505a5571a24370"
            ]
        ]
    },
    {
        "id": "fa6dbf070829b249",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "r:analog_in/ai1",
        "outputs": 1,
        "x": 520,
        "y": 760,
        "wires": [
            [
                "bf74533a34f09d96"
            ]
        ]
    },
    {
        "id": "421ecd474909916c",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "r:digital_in/di1_deb_on_cnt",
        "outputs": 1,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "d056ec59a7418028",
                "83835746129a2826"
            ]
        ]
    },
    {
        "id": "31b1c0bc6f6d0574",
        "type": "ionopimax",
        "z": "7af51950b76c72ec",
        "name": "",
        "file": "rw:digital_out/o1",
        "outputs": 1,
        "x": 1200,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "8c51b13d132a4aef",
        "type": "trigger",
        "z": "7af51950b76c72ec",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 880,
        "wires": [
            [
                "31b1c0bc6f6d0574"
            ]
        ]
    }
]